{% load static %}
{% include 'course/header.html'%}
<div class="col-md-6 offset-md-3 py-5">

    <table class="table">
        <thead>
          <tr>
            <th scope="col"><img src="{% static 'course/phone.png' %}" style="width: 30px;"></th>
            <th scope="col">:</th>
            <th scope="col">09-689696328</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><img src="{% static 'course/email.png' %}" style="width: 30px;"></th>
            <th>:</th>
            <th>kaungkhantkyaw15300@gmail.com</th>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'course/address.png' %}" style="width: 30px;"></th>
            <th>:</th>
            <th>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo rerum possimus quasi, provident incidunt accusamus excepturi
                     quisquam mollitia necessitatibus hic assumenda molestias, commodi repudiandae voluptatum fugit reprehenderit ducimus placeat minus.
                </p>
            </th>
          </tr>
        </tbody>
      </table>


</div>






























{% include 'course/footer.html'%}