{% include 'course/header.html'%}
<h1 class="text-center mt-5">Course</h1>
<div class="col-md-8 offset-md-2 p-5 border shadow">
<table class="table">
    <thead>
      <tr>
        <th scope="col">Course Name</th>
        <th scope="col">:</th>
        <th scope="col">Core Java</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="col">Start Date</th>
        <th scope="col">:</th>
        <th scope="col">01-11-2024</th>
      </tr>
      </tr>
      <tr>
        <th scope="col">Time</th>
        <th scope="col">:</th>
        <th scope="col">9 am - 11 am</th>
      </tr>
      </tr>
      <tr>
        <th scope="col">Duration</th>
        <th scope="col">:</th>
        <th scope="col">3 month</th>
      </tr>
      </tr>
    </tbody>
  </table>
  </div>
  {% include 'course/footer.html'%}




