{% include 'course/header.html'%}

    <h1 class="text-center mt-5">Course Insert</h1>
        <div class="col-md-6 offset-md-3 mt-5 p-5 shadow">
          <form >
            <div>
              <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Title</span>
            <input name="title" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
          </div>

          <div>
            <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Description</span>
          <input name="description" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
          </div>
        </div>
        
          <div>
            <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Start Date</span>
          <input name="start_date" type="date" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        </div>

        <div>
          <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">End Date</span>
        <input name="end_date" type="date" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      </div>
      
        <!-- <div>
          <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Duration</span>
        <input name="" type="number" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      </div> -->
    
      <div>
        <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Price</span>
      <input name="price" type="number" class="form-control" placeholder="Price" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    </div>

    <div>
      <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Image</span>
    <input name="file" type="file" class="form-control" placeholder="file" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  </div>

    <div>
      <button type="submit" class="btn btn-success">Save</button>
      <button type="reset" class="btn btn-warning">Cancel</button>
    </div>

    </form>
  </div>

  {% include 'course/footer.html'%}
