    {% load static %}
    {% include 'course/header.html'%}

    <div class="bg-dark m-0 row img-nav">
        <div class="p-5 col container1" >
            <p class="text-warning  ">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati, natus. Veritatis consequuntur eos ab facilis nemo iure nostrum, ratione, dolore possimus aliquam vel! Alias consectetur blanditiis corrupti optio aliquam veritatis?
            </p>
            <button class="btn btn-outline-success">CLICK TO VIEW OUR COURSES</button>

        </div>
        <div class="col">
            <h3 class="text-center text-white">
                <img src="{% static 'course/AMSProject.png' %}" class="w-100" alt="">
            </h3>
        </div>
    </div>
    <div class="mt-5">
        <h4 class="text-center">CONTACT WITH</h4>
        <div class="py-3 d-flex justify-content-center">
            <div class="btn btn-outline-dark p-3">
                <img src="img src="{% get_media_prefix %}course/facebook.png" alt="My Image" style="width: 30px;" alt="">
                <span></span>
            </div>
            <div class="btn btn-outline-dark p-3">
                <img src="{% static 'course/telegram.png' %}" style="width: 30px;" alt="">
                <span></span>
            </div>
            <div class="btn btn-outline-dark p-3">
                <img src="{% static 'course/viber.png' %}" style="width: 30px;" alt="">
                <span></span>
            </div>
            <div class="btn btn-outline-dark p-3">
                <img src="{% static 'course/messenger.png' %}" style="width: 30px;" alt="">
                <span></span>
            </div>
            
        </div>

        <div class="mt-5 border">
            <h3 class="text-center mt-5 text-success">Main Courses That We Teach</h3>
            <div class="row justify-content-center">

                <div class="rounded text-center p-5 bg-dark me-1 col-md-3 col-sm-12 col-12">
                    <h3 class="text-info">Web Dev</h3>
                    <p class="text-secondary">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, nulla, maxime quae deserunt asperiores itaque voluptatem, assumenda magni quas nesciunt
                         incidunt? Veniam, repellat officia! Ipsa quasi voluptatum modi nisi repellat.</p>
                    <a href="#" class="btn btn-warning">VIEW WEB COURSE</a>
                </div>

                <div class="rounded text-center p-5 bg-dark me-1 col-md-3 col-sm-12 col-12">
                    <h3 class="text-info">Mobile</h3>
                    <p class="text-secondary">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, nulla, maxime quae deserunt asperiores itaque voluptatem, assumenda magni quas nesciunt
                         incidunt? Veniam, repellat officia! Ipsa quasi voluptatum modi nisi repellat.</p>
                    <a href="#" class="btn btn-warning">VIEW WEB COURSE</a>
                </div>

                <div class="rounded text-center p-5 bg-dark me-1 col-md-3 col-sm-12 col-12">
                    <h3 class="text-info">API</h3>
                    <p class="text-secondary">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, nulla, maxime quae deserunt asperiores itaque voluptatem, assumenda magni quas nesciunt
                         incidunt? Veniam, repellat officia! Ipsa quasi voluptatum modi nisi repellat.</p>
                    <a href="#" class="btn btn-warning">VIEW WEB COURSE</a>
                </div>

            </div>
        </div>

    </div>
    
{% include 'course/footer.html'%}